* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 600px;
    width: 400px;
    border: solid 2px black;
    padding: 10px;
}
.container img {
    height: 350px;
    border: solid 2px black;
}
.img-logo {
    display: flex;
}